@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
*{
  @apply transition-all duration-50 ease-initial;
}
:root {
  --primary: var(--color-white);
  --secondary: var(--color-zinc-400);
  --foreground: var(--color-black);
}
@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-foreground: var(--foreground);
}
[data-theme="dark"] {
  --primary: var(--color-black);
  --secondary: var(--color-zinc-400);
  --foreground: var(--color-white);
}
